.connectionform{
    display: flex;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    
    justify-content: center;
    align-items: center;
    height: 250px;
}
.connectionform div{
    margin: 20px
}


li{
    list-style: none;
    
    background-color: rgb(32, 84, 157) ;
    border-radius: 20px;
    margin:10px;
    padding: 10px;
    color:white;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.5s;
}
li:hover{
    background-color: rgb(40, 105, 196);
    transition: 0.5s;
    cursor: pointer;
}

.active{
    background-color: rgb(55, 138, 255);
}
label{
    color:white;
}
input{
    border-radius: 10px;
    border: none;
    text-align: center;
}
.submit{
    background-color: rgb(32, 84, 157) ;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    color:white;
}