.connectionform{
    display: flex;
    border: 1px solid black;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.connectionform div{
    margin: 20px
}


li{
    list-style: none;
    
    background-color: rgb(32, 84, 157) ;
    border-radius: 20px;
    margin:10px;
    padding: 5px;
    color:white;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.5s;
}
li:hover{
    background-color: rgb(40, 105, 196);
    transition: 0.5s;
    cursor: pointer;
}

.active{
    background-color: rgb(55, 138, 255);
}